@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-backdrop text-white min-h-screen font-sans;
}

a {
  @apply text-accent transition-colors duration-200;
}

a:hover {
  @apply text-accent-muted;
}
